<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div style="width: 80%;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <h2>Sign in</h2>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign in", class: "btn btn-primary" %>
      </div>

      <div class="form-group">
        <%= render "devise/shared/links"%>
      </div>
    <% end %>
  </div>
</div>
